<nb-card>
    <nb-card-body class="example-items-col" style="margin: auto;">
    <p class="message-menu"> {{ this.message }} </p>
  </nb-card-body>  
  </nb-card>

  <p>Cliquer sur l'enseignant :</p>
  <nb-card>
    <nb-card-body class="example-items-col">
    <ng2-smart-table [settings]="settings" [source]="data"
      (deleteConfirm)="deleteEnseignant($event)"
      (editConfirm)="editEnseignant($event)"
      (userRowSelect)="goToEnseignant($event.data.id)"
    ></ng2-smart-table>
  </nb-card-body>
  </nb-card>
