<nb-layout>
    <nb-layout-header>    

      <div style='margin-right : auto;'>
     <a href="#"><img style='width: 40%; height: 30%;' src="../../assets/logo.png"></a> 
      </div>
    
      
      <nb-user style='margin-left: auto;'
      [name]="username"
      [title]="email"
      [nbContextMenu]="items"
      nbContextMenuTag="my-context-menu">
      </nb-user>
       
  
    </nb-layout-header>
   
    <nb-sidebar subheader>

      <app-menu-ens *ngIf="!isAdmin && isAdmin !== null"></app-menu-ens>
      <app-menu *ngIf="isAdmin && isAdmin !== null"></app-menu>
      
    </nb-sidebar>
  
    <nb-layout-column class="colored-column-basic">

      <div  [nbSpinner]="loading" nbSpinnerStatus="primary">
      <router-outlet ></router-outlet>
      </div>

    </nb-layout-column>
</nb-layout>