<nb-card>
  <nb-card-body class="example-items-col" style="margin: auto;">
  <p class="message-menu"> {{ this.message }} </p>
</nb-card-body>  
</nb-card>

    <nb-card>
      <nb-card-body class="example-items-col" style="margin: auto;">  
        <form #departement="ngForm" (ngSubmit)="createDept(departement.value)">
          <input type="text" required minlength="7" maxlength="255" name='nom' ngModel nbInput #inputName
          shape="semi-round" placeholder="Nom du département à ajouter" style="width: 500px;" > 
        <button nbButton [disabled]="departement.control.invalid && departement.control.dirty" 
        (click)="inputName.value = ''" outline status="success" size="small"  style="margin-left : 20px;">Ajouter</button>
        <div *ngIf="departement.control.invalid && departement.control.dirty">
        <p>  Minimum 7 caracteres ...</p>
        </div>
      </form>
      </nb-card-body>
    </nb-card>
  

<nb-card>
  <nb-card-body class="example-items-col">
  <ng2-smart-table [settings]="settings" [source]="data"
  (deleteConfirm)="deleteDept($event)"
  (editConfirm)="updateDept($event)"
  (userRowSelect)="onSelect($event.data.id)"
  ></ng2-smart-table>
</nb-card-body>
</nb-card>
