<nb-card>
    <nb-card-body class="example-items-col" style="margin: auto;">
    <p class="message-menu"> {{ this.message }} </p>
  </nb-card-body>  
  </nb-card>

  <nb-card>
    <nb-card-body class="example-items-col" style="margin: auto;">
        <nb-card>
            <nb-card-body class="example-items-col" style="margin: auto;">
            <p style="color:#006d7b;"> Date : {{ this.date | date }} </p>
            <p style="color:#006d7b;"> Module : {{ moduleName }} </p>
            <p style="color:#006d7b;"> Groupe : {{ groupeName }} </p>
            <p style="color:#006d7b;"> Nombre de présences : {{ nbrPresence }} </p>
          </nb-card-body>  
        </nb-card>
        
    <button style="margin-top : 10px;" shape="semi-round" status="info" fullWidth nbButton 
    (click)="exportToExcel()">Export to XLS</button>
    
  </nb-card-body>  
  </nb-card>

  <nb-card>
    <nb-card-body class="example-items-col" style="margin: auto;">
     
        <form [formGroup]="ajoutSeance" (ngSubmit)="onSubmit()">
            <input  type="text" nbInput  status="primary" formControlName="matricule"
             fullWidth placeholder="Matricule de l'étudiant"> 
            <button style="margin-top : 25px;" shape="semi-round" status="info" fullWidth nbButton 
              [disabled]="!ajoutSeance.valid"
              type="submit">Ajouter l'étudiant</button>
          </form>
          
          
  </nb-card-body>  
  </nb-card>


  <nb-card>
    <nb-card-body class="example-items-col">
    <ng2-smart-table [settings]="settings" [source]="data"
    (deleteConfirm)="deleteEtudiant($event)"
    ></ng2-smart-table>
  </nb-card-body>
  </nb-card>

  
  <!-- (deleteConfirm)="deleteGroupe($event)"
  (editConfirm)="editGroupe($event)"
  (userRowSelect)="selectGroupe($event.data.id)" -->